<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- MongoDB Appender -->
        <MongoDb name="MongoDBAppender" databaseName="logsDatabase" collectionName="applicationLogs">
            <MongoDbUri>mongodb://admin:admin123@mongo:27017/cep?authSource=admin</MongoDbUri>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </MongoDb>
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="MongoDBAppender"/>
        </Root>
    </Loggers>
</Configuration>
